@import './color-palette.scss';
@import '@npm/full-steck-tools/sassy/_-fs-mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Next JS Default Styles
  html,
  body {
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
  }

// Next JS Default Styles


// .mini-autocomplete{
//   width: 10px;
//   transition: 300ms;

//   &:hover,
//   &:active,
//   &:focus{
//     width: clamp(185px, 70vw, 550px) !important; 
//     // margin: 'auto';
//   }
// }