.element-to-change-container{
  border-radius: 18px 18px 0px 18px;
  height: 98vh;
  width: 95vw;
  padding: 18px;
}

.renderOption-container{
  border-radius: 8px;
  padding: 8px 5px;
  &:hover{
    transition:250ms;
    cursor: pointer;
  }
}

.resizable-container{
  resize: both;
  overflow: auto;
}